<form>
<label>{{newValueLabel}}:</label><input type="text" placeholder="{{newValuePlaceholder}}"></input>
</form>
{{#unless currentValueIsDefault}}
<div class="bottom">
	<div>
		<span role="label">{{defaultValueLabel}}</span>:<br/>
		<strong>"{{defaultValue}}"</strong>
	</div>
	<button role="button" data-action="revert" class="btn">{{defaultButtonLabel}}</button>
</div>
{{/unless}}

