<div class="inner">
	<ul role="presentation">
		<li class="filter-header">
			<span class="filter-title">Filters</span><span class="facet-count">({{facetCount}})</span>
	  		<button data-action="clear-all" class="btn clear-all">Clear All</button>
  		</li>
	  	<li class="divider"></li>
		{{#each facets}}
	  		<li role="facet" class="facet">
	  			<div role="header" class="facet-header">
			  		<span role="button" data-action="toggle" class="toggle"></span>
			  		<span role="label" data-value="{{name}}" class="facet-label">{{displayName}}</span>
		  		</div>
		  		<ul role="group" class="facet-options">
		  			{{#each options}}
			  		<li class="facet-option">
			  			<input data-group="{{../name}}" data-facet="{{name}}" type="checkbox"{{#if selected}} checked="true"{{/if}}>
			  			<span class="facet-option-name">{{displayName}}</span>
			  		</li>
			  		{{/each}}
		  		</ul>
		  	</li>
		  	{{#unless @last}}	
	  		<li class="divider"></li>
	  		{{/unless}}
  		{{/each}}
	</ul>
</div>