<div class="up-filterpanel-header">
	<div class="pull-left">
		<span class="up-filterpanel-title pull-left" title="{{label}}">{{label}}</span>
		<span class="up-filterpanel-result pull-left"></span>
	</div>
	<div class="pull-right">
		<button role="button" data-action="clear-all" class="btn-link" title="{{clearAllLabel}}">{{clearAllLabel}}</button>
		<button data-action="close" class="btn up-btn-close-x">close</button>
	</div>
</div>
<div class="up-selectlist">{{{selectlist}}}</div>