<div class="inner">
	{{#tinyscrollbar}}
	<ul role="presentation">
		{{#each this}}
	  		<li role="facet" class="facet">
	  			<div role="header" class="facet-header">
			  		<span role="button" data-action="toggle" class="toggle"></span>
			  		<span role="label" data-value="{{name}}" class="facet-label">{{displayName}}</span>
		  		</div>
		  		<ul role="group" class="facet-options">
		  			{{#each options}}
			  		<li class="facet-option">
			  			<input data-group="{{../name}}" data-facet="{{this}}" type="checkbox"{{#if selected}} checked="true"{{/if}}>
			  			<span class="facet-option-name">{{this}}</span>
			  		</li>
			  		{{/each}}
		  		</ul>
		  	</li>
		  	{{#unless @last}}	
	  		<li class="divider"></li>
	  		{{/unless}}
  		{{/each}}
	</ul>
	{{/tinyscrollbar}}
</div>