<div class="up-inner">
	{{#tinyscrollbar}}
	<ul role="presentation" class="up-facets">
		{{#each this}}
	  		<li role="facet" class="up-facet">
	  			<div role="header" class="up-facet-header">
			  		<span role="button" data-action="toggle"></span>
			  		<span role="label" data-value="{{name}}" class="up-facet-label">{{displayName}}</span>
		  		</div>
		  		<ul role="group" class="up-facet-options">
		  			{{#each options}}
			  		<li class="up-facet-option">
			  			<input data-facet="{{../name}}" data-facet-option="{{this}}" type="checkbox">
			  			<span class="up-facet-option-name">{{this}}</span>
			  		</li>
			  		{{/each}}
		  		</ul>
		  	</li>
		  	{{#unless @last}}	
	  		<li class="divider"></li>
	  		{{/unless}}
  		{{/each}}
	</ul>
	{{/tinyscrollbar}}
</div>